* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Dina";
    font-size: 14px;
    padding: 0;
}

tooltip {
    background-color: #000000;
    border: 2px solid #000000;
}

#mpris,
#gpu-usage,
#tray,
#cpu,
#memory,
#pulseaudio {
    margin: 8px 0px 8px 8px;
}


window#waybar {
    font-weight: bold;
    background: #000000;
    border: 2px solid #000000;
}

@keyframes shiny-animation {
    0% {
        color: #ff0000;
    }
    20% {
        color: #ffff00;
    }
    40% {
        color: #33ff00;
    }
    60% {
        color: #0066ff;
    }
    80% {
        color: #cc00ff;
    }
    100% {
        color: #ff0066;
    }
}

#window {
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    padding-left: 8px;

    /* animation: shiny-animation 2s ease-in-out infinite; */

}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 0px 4px;
    color: #ffffff;
}

#workspaces button.active {
    color: #000000;
    background: #ffffff
}

#workspaces button.urgent {
    background-color: #555555;
    color: #bdbdbd
}

#workspaces.w2 {
    margin: 7px;
}

#workspaces.w2 button {
    padding: 0px 7px;
}

#clock {
    background-color: #000000;
    font-weight: bold;
    color: #fdfdfd;
    margin-left: 8px

}

#clock.clock2 {
    margin-left: 0px;
    margin-right: 8px
}

#tray {
    background-color: #0d0d0d;
}

#cpu,
#memory,
#custom-separator,
#custom-gpu-usage,
#custom-separator,
#pulseaudio {
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
}

#mpris {
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
}

#cpu.critical,
#memory.critical {
    background-color: #ff0000;
    color: #fdfdfd;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

